{% extends 'base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
<body>
    <div class="container">
        <div class="center">
            <h1>Register</h1>
            <form method="post" action="{% url 'registration' %}">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" id="Name" name="Name" required>
                    <span></span>
                    <label>Name</label>
                </div>
                <div class="txt_field">
                    <input type="email" id="Email" name="Email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="Password" name="Password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="cpassword" name="cpassword" required>
                    <span></span>
                    <label>Confirm Password</label>
                </div>
                <input name="submit" type="Submit" value="Sign Up">
                <div class="signup_link">
                    Have an Account ? <a href="{}">Login Here</a>
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock content %}