{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="shortcut icon" href="{% static 'staff/staffimg/logo.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'staff/style.css' %}">
</head>
<body>

    <header>
        <div class="logo" title="University Management System">
            <!-- <img src="{% static 'staff/staffimg/logo.png' %}" alt=""> -->
            <!-- <h2>U<span class="danger">M</span>S</h2> -->
        </div>
        <div class="navbar">
            <a href="{% url 'staffindex' %}" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <a href="{% url 'timetable' %}" onclick="timeTableAll()">
                <span class="material-icons-sharp">today</span>
                <h3 >Time Table</h3>
            </a> 
            <a href="{% url 'attendance' %}">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Attendance</h3>
            </a>
            <a href="{% url 'studentreview' %}">
                <span class="material-icons-sharp">password</span>
                <h3>Student Review</h3>
            </a>
            <a href="{% url 'logout' %}">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
    </header>

    {% block content %}

    {% endblock content %}

    
    <script src="{% static 'staff/timeTable.js' %}"></script>
    <script src="{% static 'staff/app.js' %}"></script>
</body>
</html>